body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}
   
#colorbox{
    background-color: red;
    width: 300px;
    height: 300px;
    margin:auto
}
.mybutton{
    display: grid;
    place-items: center;
}
#changecolorbtn{
    background-color: black;
    color: white;
    padding: 12px 24px;
    font-size: medium;
    margin-top: 2%;
    cursor: pointer;
    border:none;
    
}
